.characterCard {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	border: 2px solid black;
	border-radius: 10px;
}

.likeContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.likeContainer svg {
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: fill 0.5s;
}

.likeContainer svg:hover {
	fill: grey;
}

.likeContainer svg path {
	transition: stroke 1s;
}

.likeContainer svg:hover path {
	stroke: grey;
}

.characterImage {
	width: 100%;
	aspect-ratio: 1/1.5;
	object-fit: cover;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.characterDetails {
	padding: 10px;
	text-align: center;
}
