.mainPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 100vh;

	/* background-color: red; */
	font-size: calc(30px + 18 * (100vw / 1920));
}

.mainPage h1 {
	text-align: center;
}
