.charactersPage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
}

.charactersPage svg {
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: fill 0.5s;
}

.charactersPage svg:hover {
	fill: grey;
}

.charactersPage svg path {
	transition: stroke 0.5s;
}

.charactersPage svg:hover path {
	stroke: grey;
}

.charactersList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	/* justify-content: center; */

	/* align-items: center; */

	/* grid-template-columns: repeat(auto-fit, minmax(200px, 380px)); */

	/* grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));Ñ‹ */

	/* grid-template-columns: repeat(auto-fit, clamp(250px, 1fr, 300px)); */
	gap: 20px;
	width: 100%;
}

@media (width <= 425px) {
	.charactersPage {
		width: 100%;
	}
}
