@font-face {
	font-weight: 700;
	font-family: 'Montserrat';
	font-style: normal;
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Montserrat';
	font-style: normal;
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
