.header {
	width: 80%;
	margin: 0 auto;
	background-color: transparent;
	border: 2px solid black;
	border-top: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

@media (width <= 425px) {
	.header {
		width: 100%;
		border-right: 0;
		border-left: 0;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

@media (width <= 425px) {
	.nav {
		flex-direction: column;
		gap: 10px;
		padding: 10px;
	}
}

.button {
	padding: 5px 10px;
	font-size: calc(24px + 12 * (100vw / 1920));
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: transform 0.5s;
}

.button:hover {
	transform: scale(1.1);

	/* animation-name: growing;
	animation-duration: 1s;
	animation-fill-mode: forwards; */
}

/* @keyframes growing {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
} */

.link {
	color: black;
	text-decoration: none;
}
